@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<h2>All Books</h2>
<hr />
<ul>
    @foreach (var book in Model)
    {
        <li>
            @book.Title
        </li>
    }
</ul>
